<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dist/index.css" />
    <title>Painel</title>
    <style>
      /* Estilos para cobrir a tela com o vídeo */
      #video-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <% if (!painel) { %>
    <div
      class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center"
    >
      <div class="bg-white rounded-lg p-6 shadow-lg w-1/3">
        <h2 class="text-lg font-bold mb-4">
          Informe o email e senha do painel:
        </h2>

        <% if (errorMessage) { %>
        <div class="text-red-500 text-sm mb-4"><%= errorMessage %></div>
        <% } %> <% if (successMessage) { %>
        <div class="text-green-500 text-sm mb-4"><%= successMessage %></div>
        <% } %>

        <form action="/login-painel" method="POST">
          <label for="email" class="block text-gray-700 font-medium mb-2">
            Email
          </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Digite seu email"
            class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />

          <label
            for="password"
            class="block text-gray-700 font-medium mt-4 mb-2"
          >
            Senha
          </label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Digite sua senha"
            class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />

          <button
            type="submit"
            class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
          >
            Entrar
          </button>
        </form>
      </div>
    </div>
    <% } else { %>
    <div
      id="weather-time"
      class="fixed top-2 right-4 bg-gray-800 text-white p-4 rounded-md shadow-lg flex items-center space-x-4"
    >
      <div id="temperature" class="text-lg font-bold">--°C</div>
      <div id="time" class="text-sm">--:--:--</div>
    </div>

    <div id="content" class="grid grid-cols-2 grid-rows-2 h-screen bg-gray-100">
      <div
        class="col-span-1 row-span-2 bg-blue-50 p-6 flex flex-col rounded-lg shadow-lg"
      >
        <h2 class="text-2xl font-bold text-blue-700 mb-4">Senhas Geradas</h2>
        <ul id="senhas-geradas" class="space-y-3 overflow-y-auto flex-1">
          <li class="bg-blue-100 text-blue-700 p-4 rounded-md shadow"></li>
        </ul>
      </div>

      <div
        class="col-span-1 bg-green-50 p-6 flex flex-col justify-between rounded-lg shadow-lg"
      >
        <h2 class="text-2xl font-bold text-green-700 mb-4">
          Última Senha Chamada
        </h2>
        <div
          id="ultima-senha"
          class="text-3xl font-bold text-green-800 bg-green-100 p-6 rounded-md shadow flex-1 flex items-center justify-center"
        ></div>
      </div>

      <div class="col-span-1 bg-red-50 p-6 flex flex-col rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold text-red-700 mb-4">Senhas Já Chamadas</h2>
        <ul id="senhas-ja-chamadas" class="space-y-3 overflow-y-auto flex-1">
          <li class="bg-red-100 text-red-700 p-4 rounded-md shadow"></li>
        </ul>
      </div>
    </div>
    <% } %> <% if (redirect) { %>
    <script>
      window.open("<%= redirect %>", "_blank");
      setTimeout(() => {
        window.location.href = "/home";
      }, 1000);
    </script>
    <% } %>

    <div id="video-container">
      <video id="fullscreen-video" autoplay muted>
        <source src="/video/video.mp4" type="video/mp4" />
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function showVideo() {
          const content = document.getElementById("content");
          const videoContainer = document.getElementById("video-container");
          const video = document.getElementById("fullscreen-video");

          content.style.display = "none";
          videoContainer.style.display = "flex";

          video.currentTime = 0;
          video.play();

          video.onended = function () {
            videoContainer.style.display = "none";
            content.style.display = "grid";
          };
        }

        setInterval(showVideo, 130000);
      });
    </script>
    <script src="/js/script.js"></script>
  </body>
</html>
